@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <!-- Add this link -->
    <p>
        <a asp-page="/MailPage" class="btn btn-primary">Email Validation Tool</a>
    </p>
</div>
